// content{height: 100%;display: flex;align-items: center;justify-content: center;}
// .spin{position: absolute;top:49%;left:49%}

@media screen and (max-width:430px){
    // content{max-width: 430px;}
    // .spin{top:190px;left:160px}
}