<div class="table container p-5 border border-secondary rounded">
    <div class="row border rounded p-2 mt-3">
        <th class="col">flage</th>
        <th class="col">Name</th>
        <th class="col">cca2</th>
        <th class="col">cca3</th>
        <th class="col">nativeName</th>
        <th class="col">alterNativeName</th>
        <th class="col">callingCode</th>
    </div>
    <div class="row border rounded p-2 mt-3" *ngFor="let data of dataSource">
        <div class="col">flag</div>
        <div class="col">{{data.name.official}}</div>
        <div class="col">{{data.cca2}}</div>
        <div class="col">{{data.cca3}}</div>
        <div class="col">{{data.name.nativeName}}</div>
        <div class="col">{{data.altSpellings}}</div>
        <div class="col">{{data.idd}}</div>
    </div>
</div>