table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  .filter{width: 100%;position: sticky;top:0;background: #dcdada;}
  .paginator{position:sticky;bottom:0;box-shadow: 0 0 5px gray;}